.card {
  background: #1f1f1f;
  border-radius: 12px;

  max-width: 384px;
  padding: 40px;

  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  align-items: center;
  gap: 24px;

  text-align: center;

  @include respond(tablet) {
    max-width: 456px;
  }

  &__avatar {
    height: 88px;
    width: 88px;
    border-radius: 999px;
    background: url(../assets/images/avatar-jessica.jpeg) lightgray 50% / cover
      no-repeat;
  }

  &__information-block {
  }

  &__location {
    color: #c4f82a;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 150%;
  }

  &__description {
    font-size: 1.4rem;
    font-weight: 300;
    font-style: normal;
    line-height: 150%;
  }

  &__link-container {
    text-decoration: none;
    list-style: none;
    width: 100%;
  }

  &__link {
    padding: 12px;
    // width: 100%;

    font-size: 1.4rem;
    font-weight: 700;

    background: #333;
    border-radius: 8px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &:active,
    &:hover {
      background: #c4f82a;
      color: #000;
    }
  }
}
