*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  @include respond(tablet) {
    padding: 0 24px;
  }
}
